@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #191919;
  font-family: "Nunito Sans";
}

#app {
  display: flex;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  color: #9B9B9B;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0.5rem 0;
}
ul li {
  list-style: none;
  color: #9B9B9B;
  margin: 0 0.5rem;
  padding: 0;
}

.uil {
  color: #9B9B9B;
}

button {
  cursor: pointer;
}

.sidebar {
  background: #202020;
  height: 100vh;
  padding: 1rem;
  width: 20%;
}
.sidebar a {
  color: #9B9B9B;
}
.sidebar .workspace {
  display: flex;
  align-items: center;
}
.sidebar .workspace span {
  background: #D9D9D9;
  color: #202020;
  height: 3rem;
  aspect-ratio: 1;
  font-size: 2rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar nav {
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
.sidebar nav a {
  padding: 0.5rem 1rem;
  text-transform: capitalize;
}
.sidebar nav a:hover {
  background: rgba(217, 217, 217, 0.2);
  color: white;
}
.sidebar nav .uil {
  margin-right: 0.5rem;
}
.sidebar .boards {
  color: #9B9B9B;
}
.sidebar .boards .actions {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.sidebar .boards .actions .create-board {
  position: absolute;
  padding: 1rem;
  min-width: 10rem;
  background: rgba(155, 155, 155, 0.2);
  left: calc(100% + 1rem);
  z-index: 1000;
}
.sidebar .boards .actions .create-board p.header {
  text-align: center;
  margin-bottom: 0.5rem;
}
.sidebar .boards .actions .create-board p {
  text-transform: capitalize;
  font-size: 0.9rem;
}
.sidebar .boards .actions .create-board p.NB {
  margin-bottom: 1rem;
}
.sidebar .boards .actions .create-board input {
  background: #202020;
  width: 15rem;
  padding: 0.5rem;
  margin: 0;
  border: 2px solid #9B9B9B;
  color: #D9D9D9;
  font-family: "Nunito Sans";
  margin: 0.5rem 0;
}
.sidebar .boards .actions .create-board input:valid {
  border: 2px solid #579dff;
}
.sidebar .boards .actions .create-board input::-moz-placeholder {
  font-family: "Nunito Sans";
  margin: 0 1rem;
  text-transform: capitalize;
}
.sidebar .boards .actions .create-board input::placeholder {
  font-family: "Nunito Sans";
  margin: 0 1rem;
  text-transform: capitalize;
}
.sidebar .boards .actions .create-board button {
  width: 100%;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  font-family: "Nunito Sans";
  background: #579dff;
  border: none;
  text-transform: capitalize;
  font-weight: 700;
}
.sidebar .boards .board-links nav.board-links-list {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.sidebar .boards .board-links nav.board-links-list .link-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
.sidebar .boards .board-links nav.board-links-list .link-item a.board-link {
  width: 100%;
}

.wrapper {
  width: 100%;
}

#workspace {
  padding: 2rem;
  width: 80%;
}
#workspace .boards {
  display: flex;
  gap: 1rem;
}
#workspace .boards a .box {
  color: white;
  height: 5rem;
  width: 12rem;
  background: rgb(114, 123, 249);
  padding: 0.5rem 1rem;
}

#boards {
  padding: 2rem;
  width: 80%;
  height: 100vh;
  overflow-y: scroll;
}
#boards::-webkit-scrollbar {
  display: none;
}
#boards .bar {
  padding: 0.5rem 0;
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  background: #191919;
  z-index: 9999;
  display: flex;
  align-items: center;
}
#boards .actions {
  padding: 5rem 2rem 1rem 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  min-height: 100%;
}
#boards .actions .list .list-header {
  padding: 0.5rem;
  background: rgba(155, 155, 155, 0.2);
}
#boards .actions .list .list-header .create, #boards .actions .list .list-header .list-content {
  display: flex;
  justify-content: space-between;
}
#boards .actions .list .list-header .list-content {
  position: relative;
}
#boards .actions .list .list-header .list-menu-actions {
  position: absolute;
  padding: 1rem;
  width: 15rem;
  left: 100%;
}
#boards .actions .list .list-header button.create-list, #boards .actions .list .list-header button.list-menu, #boards .actions .list .list-header button.card-menu {
  color: #9B9B9B;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  background: transparent;
  border: none;
}
#boards .actions .list .list-header form input {
  background: #202020;
  width: 15rem;
  margin: 0;
  border: 2px solid #9B9B9B;
  color: #D9D9D9;
  font-family: "Nunito Sans";
  margin: 0.5rem 0;
}
#boards .actions .list .list-header form button {
  padding: 0.2rem 0.8rem;
  font-family: "Nunito Sans";
  background: #579dff;
  border: none;
  text-transform: capitalize;
  font-weight: 700;
}
#boards .actions .list .cards .card {
  cursor: pointer;
  background: #202020;
  margin: 0.2rem 0;
  padding: 0.5rem;
}
#boards .actions .list .cards .card .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#boards .actions .list .cards .card .head button {
  z-index: 100;
}
#boards .actions .list .cards .card .content {
  margin: 0.5rem 0;
}

.card-details {
  position: absolute;
  background: #202020;
  top: 0;
  bottom: 0;
  right: -2rem;
  left: 50%;
  transition: 200ms ease-in-out;
  transform-origin: right;
  padding: 2rem 1rem;
  overflow: scroll;
  z-index: 10000;
}
.card-details h3, .card-details .uil {
  color: #D9D9D9;
}
.card-details::-webkit-scrollbar {
  display: none;
}
.card-details .active-description {
  margin: 1rem 0;
}
.card-details .content {
  cursor: pointer;
  margin: 1rem 1.5rem;
}
.card-details button.close-card, .card-details button.remove {
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
}
.card-details button.remove {
  margin-left: 0.5rem;
}
.card-details header.head {
  justify-content: space-between;
}
.card-details .head {
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.card-details .head .uil {
  font-size: 1.2rem;
  margin-right: 0.5rem;
}
.card-details .description, .card-details .labels, .card-details .checklists {
  margin: 1rem 0;
}
.card-details .description button.add, .card-details .labels button.add, .card-details .checklists button.add {
  border: none;
  text-transform: capitalize;
  padding: 0.3rem 1rem;
  font-family: "Nunito Sans";
  background: #579dff;
}
.card-details .labels input[type=text], .card-details .checklists input[type=text] {
  border: 1px solid #9B9B9B;
  background: transparent;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  width: 100%;
  color: #D9D9D9;
  font-family: "Nunito Sans";
}
.card-details .labels input[type=text]::-moz-placeholder, .card-details .checklists input[type=text]::-moz-placeholder {
  font-family: "Nunito Sans";
}
.card-details .labels input[type=text]::placeholder, .card-details .checklists input[type=text]::placeholder {
  font-family: "Nunito Sans";
}
.card-details button.set-active {
  font-family: "Nunito Sans";
  color: #9B9B9B;
  background: rgba(155, 155, 155, 0.1);
  border: none;
}
.card-details button.set-active:hover {
  background: rgba(155, 155, 155, 0.3);
}
.card-details .description button.set-active {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
}
.card-details .checklists button.set-active {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
.card-details .checklists li {
  margin: 0.5rem 1.5rem;
}
.card-details .checklists li input {
  margin: 0 0.5rem;
}
.card-details .checklists li button {
  float: right;
}

ul.label-list {
  display: flex;
  padding: 0;
}
ul.label-list li {
  list-style: none;
  margin: 0.3rem;
  padding: 0.2rem 0.5rem;
  color: #202020;
  border-radius: 2px;
}
ul.label-list li .add-label {
  width: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #9B9B9B;
}

button.toggle-modal {
  padding: 0;
  border: none;
  background: transparent;
}
button.toggle-modal .uil {
  color: #9B9B9B;
  font-size: 1.2rem;
}

.modal-toggle {
  position: absolute;
  z-index: 1000;
  padding: 1rem;
  background: white;
  left: 100%;
  width: 100%;
}

button.submit {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  font-family: "Nunito Sans";
  font-size: 1rem;
  background: #9B9B9B;
  border: none;
}/*# sourceMappingURL=App.css.map */